{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} News {% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>

<body>
    <!-- Header Area Start -->
    <header class="header-area">
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-md-6">
                        <div class="breaking-news-area">
                            <h5 class="breaking-news-title">Breaking news</h5>
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    {% for news in news_list %}
                                    <li><a href="{% url 'news_detail_page' news.pk %}">{{news.title | truncatewords:5 }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Stock News Area -->
                    <div class="col-12 col-md-6">
                        <div class="stock-news-area">
                            <div id="stockNewsTicker" class="ticker">
                                <ul>
                                    <li>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>eur/usd</span>
                                                <span>1.1862</span>
                                            </div>
                                            <div class="stock-index minus-index">
                                                <h4>0.18</h4>
                                            </div>
                                        </div>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>BTC/usd</span>
                                                <span>15.674.99</span>
                                            </div>
                                            <div class="stock-index plus-index">
                                                <h4>8.60</h4>
                                            </div>
                                        </div>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>ETH/usd</span>
                                                <span>674.99</span>
                                            </div>
                                            <div class="stock-index minus-index">
                                                <h4>13.60</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>eur/usd</span>
                                                <span>1.1862</span>
                                            </div>
                                            <div class="stock-index minus-index">
                                                <h4>0.18</h4>
                                            </div>
                                        </div>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>BTC/usd</span>
                                                <span>15.674.99</span>
                                            </div>
                                            <div class="stock-index plus-index">
                                                <h4>8.60</h4>
                                            </div>
                                        </div>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>ETH/usd</span>
                                                <span>674.99</span>
                                            </div>
                                            <div class="stock-index minus-index">
                                                <h4>13.60</h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>eur/usd</span>
                                                <span>1.1862</span>
                                            </div>
                                            <div class="stock-index minus-index">
                                                <h4>3.95</h4>
                                            </div>
                                        </div>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>BTC/usd</span>
                                                <span>15.674.99</span>
                                            </div>
                                            <div class="stock-index plus-index">
                                                <h4>4.78</h4>
                                            </div>
                                        </div>
                                        <div class="single-stock-report">
                                            <div class="stock-values">
                                                <span>ETH/usd</span>
                                                <span>674.99</span>
                                            </div>
                                            <div class="stock-index minus-index">
                                                <h4>11.37</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Middle Header Area -->
        <div class="middle-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Logo Area -->
                    <div class="col-12 col-md-4">
                        <div class="logo-area">
                            <a href="{% url 'home_page' %}"><img src="{% static 'images/core-img/logo.png' %}" alt="logo"></a>
                        </div>
                    </div>
                    <!-- Header Advert Area -->
                    <div class="col-12 col-md-8">
                        <div class="header-advert-area">
                            <a href="#"><img src="{% static 'images/bg-img/top-advert.png' %}" alt="header-add"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Header Area -->
        <div class="bottom-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
                                <div class="collapse navbar-collapse" id="gazetteMenu">
                                    <ul class="navbar-nav mr-auto">
                                        
                                        
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="index.html">Home</a>
                                                <a class="dropdown-item" href="{% url 'category_page' %}">Catagory</a>
                                                <a class="dropdown-item" href="single-post.html">Single Post</a>
                                                <a class="dropdown-item" href="{% url 'aboutus_page' %}">About Us</a>
                                                <a class="dropdown-item" href="{% url 'contact_page' %}">Contact</a>
                                            </div>
                                        </li>
                                        {% for category in categories %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">{{category.name}}</a>
                                        </li>
                                       
                                        {% endfor %}
                                    </ul>
                                    <!-- Search Form -->
                                    <div class="header-search-form mr-auto">
                                        <form action="#">
                                            <input type="search" placeholder="Input your keyword then press enter..." id="search" name="search">
                                            <input class="d-none" type="submit" value="submit">
                                        </form>
                                    </div>
                                    <!-- Search btn -->
                                    <div id="searchbtn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Welcome Blog Slide Area Start -->
    <section class="welcome-blog-post-slide owl-carousel">
        {% for news in news_list %}
        <!-- Single Blog Post -->
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url('{{ news.image.url }}');">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href="#">{{ news.category.name }}</a>
                </div>
                <h3><a href="{% url 'news_detail_page' news.pk %}" class="font-pt">{{news.title | truncatewords:5 }}</a></h3>
                <div class="date">
                    <a href="#">{{ news.publish_time }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
       
    </section>
    <!-- Welcome Blog Slide Area End -->

    <!-- Latest News Marquee Area Start -->
    <div class="latest-news-marquee-area">
        <div class="simple-marquee-container">
            <div class="marquee">
                <ul class="marquee-content-items">
                    {% for news in news_list %}
                    <li>
                        <a href="{% url 'news_detail_page' news.pk %}"><span class="latest-news-time">{{news.publish_time}}</span> {{news.title | truncatewords:5 }} </a>
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Latest News Marquee Area End -->

    <!-- Main Content Area Start -->
    <section class="main-content-wrapper section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Gazette Welcome Post -->
                     
                    <div class="gazette-welcome-post">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">
                            <a href="#">{{ world_main.category.name }}</a>
                        </div>
                        <h2 class="font-pt">{{world_main.title}}</h2>
                        <p class="gazette-post-date">{{ world_main.publish_time }}</p>
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail my-5">
                            <img src="{{ world_main.image.url }}" alt="post-thumb">
                        </div>
                        <!-- Post Excerpt -->
                        <p>{{ world_main.body | truncatewords:60 }}</p>
                        <!-- Reading More -->
                        <div class="post-continue-reading-share d-sm-flex align-items-center justify-content-between mt-30">
                            <div class="post-continue-btn">
                                <a href="{% url 'news_detail_page' world_main.pk %}" class="font-pt">Continue Reading <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="post-share-btn-group">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    

                    <div class="gazette-todays-post section_padding_100_50">
                        <div class="gazette-heading">
                            <h4>World</h4>
                        </div>
                        <!-- Single Today Post -->
                         {% for world in world_news %}
                        <div class="gazette-single-todays-post d-md-flex align-items-start mb-50">
                            <div class="todays-post-thumb">
                                <img src="{{ world.image.url }}" alt="">
                            </div>
                            <div class="todays-post-content">
                                <!-- Post Tag -->
                                <div class="gazette-post-tag">
                                    <a href="#">{{ world.category.name }}</a>
                                </div>
                                <h3><a href="{% url 'news_detail_page' world.pk %}" class="font-pt mb-2">{{ world.title }}</a></h3>
                                <span class="gazette-post-date mb-2">{{ world.publish_time }}</span>
                                <a href="#" class="post-total-comments">3 Comments</a>
                                <p>{{ world.body | truncatewords:30 }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Single Today Post -->
                        <!-- <div class="gazette-single-todays-post d-md-flex align-items-start mb-50">
                            <div class="todays-post-thumb">
                                <img src="{% static 'images/blog-img/3.jpg' %}" alt="">
                            </div>
                            <div class="todays-post-content"> -->
                                <!-- Post Tag -->
                                <!-- <div class="gazette-post-tag">
                                    <a href="#">Life</a>
                                </div>
                                <h3><a href="#" class="font-pt mb-2">Homeless man steals $350,000 </a></h3>
                                <p class="gazette-post-date mb-2">March 29, 2016</p>
                                <a href="#" class="post-total-comments">3 Comments</a>
                                <p>Aliquam quis convallis enim. Nunc pulvinar molestie sem id blandit. Nunc venenatis interdum mollis. Aliquam finibus nulla quam, a iaculis justo finibus non. Suspendisse in fermentum nunc.</p>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-6">
                    <div class="sidebar-area">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-widget">
                            <div class="widget-title">
                                <h5>Sports News</h5>
                            </div>
                            <!-- Single Breaking News Widget -->
                            <!-- <div class="single-breaking-news-widget">
                                <img src="{% static 'images/blog-img/bn-1.jpg' %}" alt="">
                                <div class="breakingnews-title">
                                    <p>breaking news</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 class="font-pt">China leads new global skyscraper record</h5>
                                </div>
                            </div> -->
                            <!-- Single Breaking News Widget -->
                             {% for sport in sports %}
                            <div class="single-breaking-news-widget">
                                <img src="{{ sport.image.url }}" alt="">
                                <div class="breakingnews-title">
                                    <p>{{ sport.category.name }}</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5  class="font-pt"> <a href="{% url 'news_detail_page' sport.pk %}" style="color: white;"> {{ sport.title }}</a></h5>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Don't Miss Widget -->
                        <div class="donnot-miss-widget">
                            <div class="widget-title">
                                <h5>Education</h5>
                            </div>
                            {% for educ in edu %}
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post d-flex mb-30">
                                <div class="dont-miss-post-thumb">
                                    <img src="{{ educ.image.url }}" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href="{% url 'news_detail_page' educ.pk %}" class="font-pt">{{ educ.title }}</a>
                                    <span>{{ educ.publish_time }}</span>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <!-- Advert Widget -->
                        <div class="advert-widget">
                            <div class="widget-title">
                                <h5>Advert</h5>
                            </div>
                            <div class="advert-thumb mb-30">
                                <a href="#"><img src="{% static 'images/bg-img/add.png' %}" alt=""></a>
                            </div>
                        </div>
                        <!-- Subscribe Widget -->
                        <div class="subscribe-widget">
                            <div class="widget-title">
                                <h5>subscribe</h5>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="email" name="email" id="subs_email" placeholder="Your Email">
                                    <button type="submit">subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Area End -->

        
        <!-- Category Posts Area Start -->

<div class="gazette-catagory-posts-area">

    <div class="container">

        <div class="row">

            <!-- COLUMN 1 -->
            <div class="col-12 col-md-4">

                {% for article in tech|slice:":3" %}

                <div class="gazette-single-catagory-post">

                    {% if forloop.first %}
                    <div class="single-catagory-post-thumb mb-15">
                        <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    </div>
                    {% endif %}

                    <div class="gazette-post-tag">
                        <a href="#">{{ article.category.name }}</a>
                    </div>

                    <h5>
                        <a href="{% url 'news_detail_page' article.pk %}" class="font-pt">
                            {{ article.title }}
                        </a>
                    </h5>

                    <span>{{ article.publish_time }}</span>

                </div>

                {% endfor %}

            </div>


            <!-- COLUMN 2 -->
            <div class="col-12 col-md-4">

                <div class="row">

                    {% for article in tech|slice:"3:6" %}

                    <div class="col-12 col-md-6">

                        <div class="gazette-single-catagory-post">

                            <div class="single-catagory-post-thumb mb-15">
                                <img src="{{ article.image.url }}" alt="{{ article.title }}">
                            </div>

                            <div class="gazette-post-tag">
                                <a href="#">{{ article.category.name }}</a>
                            </div>

                            <h5>
                                <a href="{% url 'news_detail_page' article.pk %}" class="font-pt">
                                    {{ article.title }}
                                </a>
                            </h5>

                            <span>{{ article.publish_time }}</span>

                        </div>

                    </div>

                    {% endfor %}

                </div>

            </div>


            <!-- COLUMN 3 -->
            <div class="col-12 col-md-4">

                {% for article in tech|slice:"6:8" %}

                <div class="gazette-single-catagory-post">

                    {% if forloop.first %}
                    <div class="single-catagory-post-thumb mb-15">
                        <img src="{{ article.image.url }}" alt="{{ article.title }}">
                    </div>
                    {% endif %}

                    <div class="gazette-post-tag">
                        <a href="#">{{ article.category.name }}</a>
                    </div>

                    <h5>
                        <a href="{% url 'news_detail_page' article.pk %}" class="font-pt">
                            {{ article.title }}
                        </a>
                    </h5>

                    <span>{{ article.publish_time }}</span>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>

</div>

<!-- Category Posts Area End -->



    <!-- Editorial Area Start -->
    <section class="gazatte-editorial-area section_padding_100 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="editorial-post-slides owl-carousel">

                        
                        {% for finance in finance %}
                        <!-- Editorial Post Single Slide -->
                        <div class="editorial-post-single-slide">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="editorial-post-thumb">
                                        <img src="{{ finance.image.url }}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="editorial-post-content">
                                        <!-- Post Tag -->
                                        <div class="gazette-post-tag">
                                            <a href="#">{{ finance.category.name }}</a>
                                        </div>
                                        <h2><a href="{% url 'news_detail_page' finance.pk %}" class="font-pt mb-15">{{ finance.title }}</a></h2>
                                        <p class="editorial-post-date mb-15">{{ finance.publish_time }}</p>
                                        <p>{{ finance.body | truncatewords:30}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Editorial Area End -->



    <!-- Footer Area Start -->

<footer class="footer-area bg-img background-overlay">

    <!-- Top Footer Area -->
    <div class="top-footer-area section_padding_100_70">

        <div class="container">

            <div class="row">

                <!-- Categories -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">

                    <div class="single-footer-widget">

                        <div class="footer-widget-title">
                            <h4 class="font-pt">Categories</h4>
                        </div>

                        <ul class="footer-widget-menu">

                            {% for category in categories %}

                                <li>
                                    <a href="#">
                                        {{ category.name }}
                                    </a>
                                </li>

                            {% endfor %}

                        </ul>

                    </div>

                </div>


                <!-- Website -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">

                    <div class="single-footer-widget">

                        <div class="footer-widget-title">
                            <h4 class="font-pt">Signal</h4>
                        </div>

                        <ul class="footer-widget-menu">

                            <li>
                                <a href="{% url 'home_page' %}">
                                    Home
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'contact_page' %}">
                                    Contact
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'all_news_list' %}">
                                    All News
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>


                <!-- Popular Categories -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">

                    <div class="single-footer-widget">

                        <div class="footer-widget-title">
                            <h4 class="font-pt">News</h4>
                        </div>

                        <ul class="footer-widget-menu">

                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">World</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Sports</a></li>

                        </ul>

                    </div>

                </div>


                <!-- About -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">

                    <div class="single-footer-widget">

                        <div class="footer-widget-title">
                            <h4 class="font-pt">About</h4>
                        </div>

                        <ul class="footer-widget-menu">

                            <li><a href="#">About Signal</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>

                        </ul>

                    </div>

                </div>


                <!-- Contact -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">

                    <div class="single-footer-widget">

                        <div class="footer-widget-title">
                            <h4 class="font-pt">Contact</h4>
                        </div>

                        <ul class="footer-widget-menu">

                            <li>
                                <a href="{% url 'contact_page' %}">
                                    Contact Us
                                </a>
                            </li>

                            <li><a href="#">Email</a></li>
                            <li><a href="#">Social Media</a></li>

                        </ul>

                    </div>

                </div>


                <!-- More -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">

                    <div class="single-footer-widget">

                        <div class="footer-widget-title">
                            <h4 class="font-pt">More</h4>
                        </div>

                        <ul class="footer-widget-menu">

                            <li><a href="#">Archives</a></li>
                            <li><a href="#">Authors</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Help</a></li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- Bottom Footer Area -->

    <div class="bottom-footer-area">

        <div class="container h-100">

            <div class="row h-100 align-items-center justify-content-center">

                <div class="col-12">

                    <div class="copywrite-text">

                        <p>
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>

                            Signal. All rights reserved.
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>

<!-- Footer Area End -->



    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>